* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 2px solid black;*/
}

.clear-fix {
  clear: both;
}

html, body {
  height: 100%;
}

body {
  width: 960px;
  margin: 0 auto;
  border: none;
  background: #1e92d1;
}
h1, p {
  display: block;
}
h1 {
  width: 835px;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
  float: right;
}
#user-instructions {
  width: 100%;
  height: 50px;
  font-size: 24px;
  display: inline-block;
  margin-top: 40px;
}
h3 {
  width: 835px;
  display: inline-block;
  font-size: 24px;
  float: right;
}
canvas {
  background: #b2e4ff;
  border: 3px solid black;
  width: 100%;
  animation-duration: 1.5s;
  animation-name: slidein;
  position: fixed;
  top: 180px;
}
@keyframes slidein {
  0% {
      top: -480px;
  }
  100% {
      top: 180px;
      z-index: 1000000;
  }
}
.img-div {
  display: inline-block;
  height: 330px;
  width: 300px;
  margin-top: 20px;
  float: left;
  border: none;
  overflow: hidden;
}

#img0 {
  margin-left: 0px;
  margin-right: 15px;
}

#img1 {
  margin-left: 12px;
  margin-right: 12px;
}

#img2 {
  margin-left: 15px;
  margin-right: 0px;
}
.product-img {
  margin: 0 auto;
  height: auto;
  width: 300px;
  overflow: hidden;
  object-fit: cover;
  border: 3px solid black;
}
#chartWrap {
  height: auto;
  width: 960px;
}
#bus-icon {
  height: 120px;
  width: 120px;
  display: inline-block;
  float: left;
  margin-top: 40px;
}
.imgText {
  text-align: center;
  font-size: 24px;
  color: black;
}

table, thead, th, tr, td {
  border: 2px solid black;
}

th, td {
  width: 25px;
  text-align: center;
  background-color: white;
  opacity: .5;
}

th {
  background-color: darkblue;
  color: white;
  opacity: 1;
}

.first-row {
  width: 150px;
  text-align: left;
  color: darkblue;
  font-weight: bold;
}
.recommend-yes {
  background-color: #2F7455;
  color: black;
  font-weight: bold;
}
.recommend-no {
  background-color: darkred;
  color: black;
  font-weight: bold;
}
